<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<!-- This file is part of cuems -->

<service-group>
<name replace-wildcards="yes">Cuems node on %h</name>
  <service>
    <type>_cuems_node._tcp</type>
    <port>9000</port>
    <txt-record>node_type=master</txt-record>
  </service>

</service-group>

